WCAL_SECRET=replace-with-at-least-32-random-characters
WCAL_ADMIN_PASSWORD=replace-with-a-private-admin-password
WCAL_DB_PATH=data/wcal.sqlite3
WCAL_ALLOWED_ORIGIN=http://127.0.0.1:8141
WCAL_GEOIP_ENDPOINT=https://ipwho.is/{ip}
ARK_API_KEY=
WCAL_ARK_MODEL=doubao-seed-2-0-mini-260428
